@charset "UTF-8";
html {
	--brownColor: #d6ac80;
	--warnRed: #c00000;
	font-size: 16px;
}
img[alt] {
	color: gray !important;
	font-size: small !important;
	font-weight: normal !important;
}
body {
	background-color: #f5f0e1;
	max-width: 1280px;
	width: stretch;
	margin: auto;
	padding: 0 2rem;
}

.category {
	color: #940000;
	text-decoration: underline;
}
.customize_notice {
	position: relative;
}
.customize_notice .opt {
	position: relative;
	max-width: fit-content;
	margin: 0.5rem;
	color: #666;
}
.category {
	font-size: xx-large;
	font-weight: bold;
}
.customize_notice .category {
	position: absolute;
	justify-self: right;
	right: 0;
	top: 0;
	margin: 0;
}

.customize_notice .opt:nth-child(odd) {
	font-size: x-large;
	font-weight: bold;
}

.category-preview {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 1rem 4rem 2rem 4rem;
}
.customize_info {
	display: inline;
	background-color: white;
	border-radius: 3rem;
	padding: 0.4rem 2rem;
	width: 50%;
	height: fit-content;
}
.customize_info .with-description,
.customize_info .description {
	margin: 0;
}
.with-description {
	display: flex;
	flex-direction: row;
}
.with-description .spice-level {
	width: 5rem;
}
.customize_info *:not(.description) {
	color: darkslateblue;
	font-weight: bold;
}
.customize_info .head {
	font-size: larger;
	margin-top: 1rem;
}
.customize_info .description {
	color: #888;
	margin-bottom: 0.6rem;
}

.preview-img {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
}
.preview-img img {
	height: auto;
}
.preview-img .img-description {
	width: fit-content;
	padding: 1rem;
	color: var(--brownColor);
	background-color: white;
	border-radius: 1rem;
}
.please-note {
	color: var(--warnRed);
	font-size: large;
}
.img-list {
	display: grid;
	gap: 2rem;
	margin: 0 5rem 7rem 5rem;
	grid-template-columns: repeat(3, 1fr);
	min-height: calc(381px + 1rem);
}
.menu-panel {
	border: 2px solid var(--brownColor);
	padding-top: 1rem;
	background-color: white;
	color: var(--brownColor);
	position: relative;
	text-align: center;
	min-height: 381px;
	font-size: 1.4rem;
}
.menu-panel img {
	max-width: 100%;
	height: auto;
	margin: 1rem;
}
.menu-panel .menu-name {
	position: absolute;
	left: 0;
	right: 0;
	top: 17rem;
}
.optional-info {
	position: absolute;
	inset: 0px;
	top: 230px;
}
.optional--substituted {
	color: var(--warnRed);
	font-weight: 400;

	text-shadow: #6665 1px 2px 2px;
}
.optional--icons {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-left: 2rem;
}
.optional--icons img {
	margin: 0;
}

.teptip {
	position: relative;
	color: var(--brownColor);
}
.teptip img {
	position: absolute;
	top: 0;
	right: 5%;
	height: auto;
	transform: rotate(-15deg);
}
.teptip > p {
	position: relative;
	font-size: 2rem;
	font-weight: 500;
	margin: 0;
	max-width: fit-content;
}

.teptip > p:first-child {
	left: 10%;
}
.teptip > p:nth-child(2) {
	left: 30%;
}
.teptip div {
	background-color: #fbfaf5;
	position: relative;
	margin-top: 1rem;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	width: fit-content;
}
.teptip div h2 {
	margin: 0;
	font-size: 1.8rem;
}
.teptip div p {
	font-size: 1.2em;
}
.teptip :nth-child(1 of div) {
	left: 0%;
}
.teptip :nth-child(2 of div) {
	left: 15%;
}
svg {
	stroke: var(--brownColor);
	fill: var(--brownColor);
}
