@charset "UTF-8";
:root {
	--brownColor: #d6ac80;
	--warnRed: #c00000;
}
img[alt] {
	color: gray !important;
	font-size: small !important;
	font-weight: normal !important;
}
body {
	background-color: #f5f0e1;
	max-width: 1280px;
	width: stretch;
	margin: auto;
	padding: 0 2rem;
}

.category {
	color: #940000;
	text-decoration: underline;
}
.customize_notice {
	position: relative;
}
.customize_notice .opt {
	position: relative;
	max-width: fit-content;
	margin: 0.5rem;
	color: #666;
}
.category {
	font-size: xx-large;
	font-weight: bold;
}
.customize_notice .category {
	position: absolute;
	justify-self: right;
	right: 0;

	margin: 0;
}

.customize_notice .opt:nth-child(odd of .opt) {
	font-size: x-large;
	font-weight: bold;
}

.category-preview {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 1rem 4rem 2rem 4rem;
}
.customize_info {
	/*カテゴリごとのカスタム情報について*/
	display: inline;
	background-color: white;
	border-radius: 3rem;
	padding: 0.4rem 2rem;
	width: 50%;
	height: fit-content;
}
.customize_info .with-description,
.customize_info .description {
	margin: 0;
}
.customize_info *:not(.description) {
	color: darkslateblue;
	font-weight: bold;
}
.customize_info .head {
	font-size: larger;
	margin-top: 1rem;
}
.customize_info .description {
	color: #888;
	margin-bottom: 0.6rem;
}

.preview-img {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
}
.preview-img .img-description {
	width: fit-content;
	padding: 1rem;
	color: var(--brownColor);
	background-color: white;
	border-radius: 1rem;
}
.please-note {
	color: var(--warnRed);
	font-size: large;
}
.img-list {
	display: grid;
	gap: 2rem 1rem;
	margin: 0 5rem 7rem 5rem;
	grid-template-columns: repeat(3, 1fr);
}
.menu-panel {
	border: 2px solid var(--brownColor);
	padding-top: 1rem;
	background-color: white;
	color: var(--brownColor);
	position: relative;
	text-align: center;
	min-height: 380px;
}
.optional-info {
	position: absolute;
	inset: 0px;
	top: 280px;
}
.optional--substituted {
	color: var(--warnRed);
	font-weight: 400;
	text-shadow: #6665 0 1px 1px;
}
.optional--icons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}

.menu-panel span[data-chilli-count] {
	margin-left: 10px;
}
.teptip {
	position: relative;
	color: var(--brownColor);
}
.teptip img {
	position: absolute;
	top: 0;
	right: 0;
}
.teptip > p {
	position: relative;
	font-size: larger;
	font-weight: bold;
}

.teptip > p:first-child {
	left: 10%;
}
.teptip > p:nth-child(2) {
	left: 30%;
}
.teptip div {
	background-color: #fbfaf5;
	position: relative;
	margin-top: 1rem;
	padding: 16px;
	border-radius: 1rem;
	width: 30rem;
}
.teptip div h2 {
	margin: 0;
}
.teptip :nth-child(1 of div) {
	left: 0%;
}
.teptip :nth-child(2 of div) {
	left: 15%;
}
