@charset "UTF-8";

.navi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 60px;
    background-color: #ffffff;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.logo img {
    width: 70px;
    height: auto;
}

.logo a h1 {
    margin: 0;
    font-family: HGS行書体;
    font-size: 20px;
    color: #333333;
}

a img:hover ~ h1,
a h1:hover {
    color: #d28e00;
}

.site-nav {
    display: flex;
    justify-content: right;
    gap: 30px;
}

.site-nav ul {
    list-style: none;
    display: flex;
    font-family: Calibri;
    font-weight: bold;
    font-size: 23px;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.site-nav ul a {
    color: #333333;
    text-decoration: none;
    transition: color 0.2s ease;
}

.site-nav ul a:hover {
    color: #d28e00;
}

.site-nav ul img {
    width: 25px;
    height: 25px;
}

.site-nav ul p {
    font-size: 15px;
    margin: 0;
}

.site-nav li {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .navi {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        height: auto;
    }

    .logo h1 {
        width: auto;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .site-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-top: -10px;
}

    .site-nav ul {
        justify-content: center;
        gap: 20px;
        padding: 0;
        margin: 0;
    }
}