@charset "UTF-8";

body {
    background-color: #ffffff;
    margin: 0;
}

.navi {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
    padding-left: 30px;
}

.logo h4 {
    margin: 0;
    width: 70px;
    font-family: HGS行書体;
}

.site-nav {
    display: flex;
    justify-content: right;
}

.site-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: Calibri;
    font-weight: bold;
    font-size: 30px;
    gap: 50px;
    margin: 17px;
    align-items: center;
}

.site-nav ul a {
    color: #333333;
    text-decoration: none;
}

.site-nav ul img {
    width: 40px;
    height: 40px;
}

.site-nav ul p {
    font-size: 15px;
    margin: 0;
}

.site-nav li {
    text-align: center;
}

/* Top Bar */
.wrapper {
    display: flex;
    position: relative;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.wrapper img {
    width: 100dvw;
    height: auto;
}

.wrapper-text {
    padding: 10px;
    color: #521E15;
    font-family: Calibri;
    letter-spacing: 0.1em;
    margin: 0;
    font-size: 30px;
}

.weekly-special {
    display: flex;
    background-color: #F5F0E180;
} 

.weekly-special > div {
    width: 50%;
}

.weekly-special > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.weekly-special h2 {
    color: #6B3D36;
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.menu-name {
    color: #f8a300;
    font-size: 42px;
    font-weight: bold;
    margin: 0;
}

.weekly-special a {
    margin-left: 30px;
    color: #f8a300;
}

.introduction {
    color: #8B5E3C;
    width: 300px;
    font-weight: bold;
    line-height: 1.8;
    margin-bottom: 0;
}

.weekly-special img {
    width: 60%;
    height: 50%;
    transform: rotate(-8deg);
    margin-top: 60px;
    margin-bottom: 50px;
}

.special-menu {
    padding-right: 140px;
}

.special-menu > div {
    color: #f8a300;
    display: flex;
    justify-content: flex-start;
}

.special-menu p {
    color: #f8a300;
    font-family: Calibri;
    font-weight: bold;
    font-size: 25px;
}

.special-menu > p {
    text-align: center;
    font-size: 65px;
    margin: 5px;
}

/* Menu Section */
.menu-section {
    text-align: center;
    padding-bottom: 50px;
}

.menu-section h2 {
    color: #6B3D36;
    font-size: 40px;
    text-decoration: underline;
}

.menu-carousel-box {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

input[type="radio"] {
    display: none;
}

.carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    color: #D6AC80;
}

.carousel.left {
    left: -115px;
}

.carousel.right {
    right: -115px;
}

.menu-box-wrapper {
    overflow: hidden;
    background-color: #fff;
    padding: 40px 0;
}

.menu-box-group {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out;
}

.menu-box {
    display: flex;
    width: 50%;
    gap: 30px;
    justify-content: center;
}

.menu-item img {
    width: 100%;
    height: auto;
}

#slide1:checked ~ .menu-box-wrapper .menu-box-group {
    transform: translateX(0%);
}

#slide2:checked ~ .menu-box-wrapper .menu-box-group {
    transform: translateX(-50%);
}

.back-to-top {
    position: sticky;
    padding-right: 30px;
    bottom: 0;
    right: 0;
    left: 100%;
}

/* Footer */
.site-footer {
    background-color: #F5F0E1;
    text-align: center;
    font-family: Calibri;
}

.footer-info {
    color: #333333;
    text-align: left;
    padding-left: 175px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left p:first-child {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
}

.footer-right {
    display: flex;
    padding-right: 15px;
    flex-direction: column;
}

.footer-copyright {
    color: #333333;
    margin-top: 20px;
    font-size: 14px;
}

.icons {
    display: flex;
    gap: 30px;
    padding-top: 25px;
    justify-content: flex-end;
}

.icons img {
    width: 25px;
    height: 25px;
}
