@charset "UTF-8";

body {
    background-color: #f5f0e1;
    margin: 0;
}

.navi {
    background-color: #940000;
}

.logo {
    width: 30px;
    height: 10px;
}

.logo img {
    width: 100px;
    height: 100px;
    padding-left: 30px;
}

.site-nav {
    display: flex;
    justify-content: right;
}

.site-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: Calibri;
    font-weight: bold;
    font-size: 30px;
    gap: 50px;
    margin: 17px;
    align-items: center;
}

.site-nav ul a {
    color: #ffffff;
    text-decoration: none;
}

.site-nav ul img {
    width: 40px;
    height: 40px;
}

.site-nav ul p {
    font-size: 15px;
    margin: 0;
}

.site-nav li {
    text-align: center;
}

/* menu */
.menu h2 {
    color: #940000;
    font-family: Calibri;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.menu img {
    width: 700px;
}

.rice-noodle {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.menu-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text {
    border-radius: 20px;
    font-family: Calibri;
}

.text h3 {
    font-size: 35px;
}

.text p {
    font-size: 25px;
    line-height: 1.8;
}

.rice-noodle-text {
    background-color: #ffffff;
    color: #F8A300;
    width: 400px;
    padding: 15px 25px;
}

.button a {
    color: #D6AC80;
    border: #D6AC80 3px solid;
    border-radius: 10px;
    font-size: 30px;
    background-color: #ffffff;
    text-decoration: none;
    font-family: Calibri;
    padding: 5px 15px;
}

.vegetable-delights {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.vegetable-delights-text {
    background-color: #ffffff;
    color: #92D050;
    width: 400px;
    padding: 15px 25px;
}

.juice-drink {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
}

.juice-drink-text {
    background-color: #ffffff;
    color: #4B0082;
    width: 400px;
    height: 350px;
    padding: 15px 25px;
}

/* Footer */
.site-footer {
     text-align: center;
     font-family: Calibri;
}

.footer-info {
    color: #ffffff;
    background-color: #940000;
    text-align: left;
    padding-left: 175px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    gap: 30px;
    padding-right: 15px;
}

.footer-right img {
    width: 40px;
    height: 40px;
}

.footer-copyright {
    color: #595959;
    margin-top: 20px;
    font-size: 14px;
    background-color: #f5f0e1;
}

.back-to-top {
    position: fixed;
    padding-right: 30px;
    bottom: 0;
    right: 0;
}