@charset "UTF-8";

body {
    background-color: #f5f0e1;
}
.top {
    display: flex;
    position: relative;
}

div {
    
    
}
div p {
    color: #ffffff;
    
    justify-self: center;
    padding: 10px;
    background-color: #D6AC8080;
    font-family: Calibri;
}

div img {
    width: 1200px;
    height: 700px;
    
}



